*:focus {
    outline: none !important;
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
}
.view-container{
  position: fixed;
  width: 100%;
  top: 76px;
}

.controll-container{
  left: 0;
  right: 0;
  bottom: 64px;
  z-index: 101;
  visibility: hidden;
}
.osc-container{
  visibility: hidden;
}
.bd-container{
  visibility: hidden;
}
.settings-container{
  visibility: hidden;
}

.logo{
  width: 70px;
  height: 70px;
}
.navbar-brand {
  margin-top: -11px;
	cursor: default;
  color:black !important;
}
.project-name{
  font-size: 25px !important;
  font-weight: 400 !important;
}
.svg-view {
	overflow: auto !important;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 500px;
}

.scrollable-menu {
    height: auto;
    max-height: 50vh;
    overflow-x: hidden;
    border-radius: 0px;
}

.parser-info{
  margin-left: 20px;
}
.parser-type-chooser{
  margin-left: 100px;
}
.parser-type-radio{
  margin-left: 30px !important;
}
.parser-sig-checkbox{
  margin-top: 40px;
}
.parser-proc-view{
  margin-top: 40px;
}
.parser-tbody{
	display: block;
	overflow: auto;
	max-height: 40vh;

}
.parser-table {
    display:table;
    width:100%;
    table-layout:fixed;
}
.parser-controll{
  margin-top: -120px;
}



.sliding-tab {
display: inline-block;
}
.sliding-tab:after {
content: '';
display: block;
height: 7px;
width: 0;
background: transparent;
transition: width .5s ease;
}
.sliding-tab:hover:after {
	width: 100%;
	background: rgba(100, 175, 247, 1);
}
.sliding-tab-active:after{
	content: '';
	display: block;
	height:7px;
	width: 100% ;
	background: rgba(100, 175, 247,1);
}

/*bootstrap*/
.inline{
  display: inline-block !important;
}
.panel-custom{
  width: 90% !important;
  margin-top: 50px;
  margin-left: 5%;
}
.panel-heading-custom{
  text-align: center;
}
.navbar-custom{
  border-bottom: 0.5px solid rgba(0,0,0,0.5) !important;
  height: 75px !important;
	color:black !important;
	background-color: rgba(233,233,233,0.8) !important;
  -webkit-box-shadow: 0 2px 6px -4px #000000;
  -moz-box-shadow: 0 2px 6px -4px #000000;
  box-shadow: 0 2px 6px -6px #000000;
}
.navbar-button-custom{
  margin-top: 10px !important;
}
.navbar-button {
  font-weight: normal !important;
	color: black !important;
	background-color: rgba(233,233,233,0) !important;
}


/*custom-checkbox*/
.custom-checkbox {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.custom-checkbox + label {
	cursor: pointer;
}
.custom-checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.custom-checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
}
.custom-checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.custom-checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.custom-checkbox:checked + label:after {
	opacity: 1;
}
.custom-checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
/*custom-checkbox_v2*/
.custom-checkbox_v2 {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.custom-checkbox_v2 + label {
	cursor: pointer;
}
.custom-checkbox_v2:not(checked) {
	position: absolute;
	opacity: 0;
}
.custom-checkbox_v2:not(checked) + label {
	position: relative;
	padding: 0 0 0 60px;
}
.custom-checkbox_v2:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.custom-checkbox_v2:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: all .2s;
}
.custom-checkbox_v2:checked + label:before {
	background: #9FD468;
}
.custom-checkbox_v2:checked + label:after {
	left: 26px;
}
.custom-checkbox_v2:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
